@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/OpenSans-Light-webfont.woff");
}

button {
  font-family: 'Open Sans Light', Helvetica, sans-serif;  
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: 'Open Sans Light', Helvetica, sans-serif;  
  font-size : 14px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin: 1em;
}

.image {
  height: 120px;
}

#detail {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color:rgba(0, 0, 0, 0.7);
  display: none;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
}

#buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

#register-form {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571429;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #357ebd;
  border-color: #3071a9;
  color: white;
  text-decoration: none;
  margin-left: 15px; 
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 180px;
  padding: 10px;
}

#uploaded-title {
  width: 172px;
}

#uploaded-image {
  display: none;
  width: 178px;
  margin-top: 16px;
}

#uploaded-haptic {
  display: none;
  width: 178px;
  margin-top: 16px;
}

#submit-container {
  text-align: right;
}

#upload {
  display: none;
}

header {
  color: black;
  height: 30px;
  padding-top: 5px;
  background-color: black;
}

#title {
  color: white;
  margin-left: 15px;
  font-size: 20px;
}

.project-name {
  text-align: center;
  position: relative;
  top: -25px;
}

#wait {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#progress {
  position: relative;
  top: 50%;
}

#progress-label {
  color: white;
}

#progress-bar {
  background-color: black;
  margin: 0 100px;
}